
.footer{
    position: relative;
    bottom:0;
    width:100%;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--semi-transparent60);
}
.footer p{
    padding: 0 1em;
}
.footer-icons{
    font-size: 1.5em;
    padding-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5em;
}